---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import UpcomingShows from '../components/UpcomingShows.astro';
import ArtistCarousel from '../components/ArtistCarousel.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Pattedoie Productions | Stand-up Producer">
	<main>
		<Hero />
		<UpcomingShows />
		<ArtistCarousel />
		<Contact />
	</main>
</Layout>
